body
{
 font-family: 'Montserrat', sans-serif;
 background-image: url(image/Bureaubackground.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

.container
{
	background-image: url(image/BackgroundTicket.jpg);
 	background-size: 100%;

 	margin: 0% 25% 0% 25%;
 	background-position: center;
 	display: flex;
 	justify-content: center;
}

li
{
  display: flex;
  justiy-content: flex-start;
  padding-right: 2%;
}

.mainList
{
	padding-right: 15%;
}

.TitleList
{
	padding-right: 15%;
}


.insertion
{
	padding-left: 15%;
}

p
{
  text-align: start;
  vertical-align: center;

}

.EartTitre
{
	background-image: url(image/BackgroundTicket.jpg);
 	background-size: 100%;

 	margin: 10% 25% 0% 25%;
 	background-position: center;
 	display: flex;
 	justify-content: center;
    font-size: 125px;
    text-align: center;
}

input
{
  border: 50% solid black;
  border-radius: 15%;
  display: flex;
  justify-content: start;
}

.col-2, .col-4, .col-6
{
	padding: 5px;
	text-align: start;
    vertical-align: center;

}

.col-2
{
	width: 16%;
}

.col-4
{
	width: 33%;
}

.col-6
{
	width: 50%;
}

.btn-danger
{
  background-color: white;
  color: black;
  border: 5px solid red;
}

.btn-ajouter
{
  background-color: white;
  color: black;
  border: 5px solid #4CAF50;
}

.titrecol
{
	margin-left: 15px;
	width: 30%;

}